<div class="p-10 md:max-h-[560px] overflow-y-scroll  ">
    <div class="flex flex-col">
    <h3 class="text-4xl font-bold">Resume</h3>
    <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">

      <!-- Experience -->
      <div class="">
        <div class="flex flex-row items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-blue-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z" />
          </svg>

                    
          <h3 class="text-2xl uppercase ml-2">Experience</h3>
        </div>
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- Experience 1 start -->
        <div class="mt-4">
          <span class="text-blue-300 text-sm p-1 rounded-lg border-[1px] border-solid border-blue-300">2022 - Present</span>
          <h3 class="text-xl font-semibold mt-4">Design Director</h3>
          <span class="text-gray-400 mt-1">Adobe Inc.</span>
          <p>Collaborate with creative and development teams on the execution of ideas.</p>
        </div>
        <!-- Experience 1 end -->
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- Experience 2 start -->
        <div class="mt-4">
          <span class="text-gray-300 text-sm p-1 rounded-lg border-[1px] border-solid border-gray-300">2020 - 2022</span>
          <h3 class="text-xl font-semibold mt-4">Project Manager</h3>
          <span class="text-gray-400 mt-1">Twitter Inc.</span>
          <p>Collaborate with creative and development teams on the execution of ideas.</p>
        </div>
        <!-- Experience 2 end -->
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- Experience 3 start -->
        <div class="mt-4">
          <span class="text-gray-300 text-sm p-1 rounded-lg border-[1px] border-solid border-gray-300">2016 - 2022</span>
          <h3 class="text-xl font-semibold mt-4">Architect VueJS</h3>
          <span class="text-gray-400 mt-1">Apple Inc.</span>
          <p>Collaborate with creative and development teams on the execution of ideas.</p>
        </div>
        <!-- Experience 3 end -->

      </div>

      <!-- Education -->
      <div class="">
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-blue-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21v-8.25M15.75 21v-8.25M8.25 21v-8.25M3 9l9-6 9 6m-1.5 12V10.332A48.36 48.36 0 0012 9.75c-2.551 0-5.056.2-7.5.582V21M3 21h18M12 6.75h.008v.008H12V6.75z" />
          </svg>
          
          <h3 class="text-2xl uppercase ml-2">Education</h3>
        </div>
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>        
              <!-- Education 1 start -->
              <div class="mt-4">
                <span class="text-gray-300 text-sm p-1 rounded-lg border-[1px] border-solid border-gray-300">2022 - Present</span>
                <h3 class="text-xl font-semibold mt-4">Design Director</h3>
                <span class="text-gray-400 mt-1">Adobe Inc.</span>
                <p>Collaborate with creative and development teams on the execution of ideas.</p>
              </div>
              <!-- Education 1 end -->
              <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
              <!-- Education 2 start -->
              <div class="mt-4">
                <span class="text-gray-300 text-sm p-1 rounded-lg border-[1px] border-solid border-gray-300">2020 - 2022</span>
                <h3 class="text-xl font-semibold mt-4">Project Manager</h3>
                <span class="text-gray-400 mt-1">Twitter Inc.</span>
                <p>Collaborate with creative and development teams on the execution of ideas.</p>
              </div>
              <!-- Education 2 end -->
              <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
              <!-- Experience 3 start -->
              <div class="mt-4">
                <span class="text-gray-300 text-sm p-1 rounded-lg border-[1px] border-solid border-gray-300">2016 - 2022</span>
                <h3 class="text-xl font-semibold mt-4">Architect VueJS</h3>
                <span class="text-gray-400 mt-1">Apple Inc.</span>
                <p>Collaborate with creative and development teams on the execution of ideas.</p>
              </div>
              <!-- Education 3 end -->
          
      
      </div>

    </div>

    <h3 class="text-4xl font-bold capitalize mt-10"><span class="text-blue-300">My</span> Skills</h3>
    <div class="mt-8 md:mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Design -->
      <div class="pr-4">
        <div class="flex flex-row items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-blue-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.53 16.122a3 3 0 00-5.78 1.128 2.25 2.25 0 01-2.4 2.245 4.5 4.5 0 008.4-2.245c0-.399-.078-.78-.22-1.128zm0 0a15.998 15.998 0 003.388-1.62m-5.043-.025a15.994 15.994 0 011.622-3.395m3.42 3.42a15.995 15.995 0 004.764-4.648l3.876-5.814a1.151 1.151 0 00-1.597-1.597L14.146 6.32a15.996 15.996 0 00-4.649 4.763m3.42 3.42a6.776 6.776 0 00-3.42-3.42" />
          </svg>
          <h3 class="text-2xl uppercase ml-2">Design</h3>
        </div>
    
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- Design 1 start -->
        <div class="mt-4">
        <span class="text-gray-500">Mobile Apps</span>
        <div class="mt-1 h-1 w-full bg-gray-400 relative">
        <span class="h-1 w-11/12 bg-blue-300 absolute"></span>
        </div>
        </div>
        <!-- Design 1 end -->
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- Design 2 start -->
        <div class="mt-4">
          <span class="text-gray-500">Web sites creation</span>
          <div class="mt-1 h-1 w-full bg-gray-400 relative">
            <span class="h-1 w-10/12 bg-blue-300 absolute"></span>   
          </div>
        </div>
        <!-- Design 2 end -->
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- Design 3 start -->
        <div class="mt-4">
          <span class="text-gray-500">Design UI Prototypes</span>
          <div class="mt-1 h-1 w-full bg-gray-400 relative">
            <span class="h-1 w-11/12 bg-blue-300 absolute"></span>
          </div>
        </div>
        <!-- Design 3 end -->
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- Design 4 start -->
        <div class="mt-4">
          <span class="text-gray-500">German</span>
          <div class="mt-1 h-1 w-full bg-gray-400 relative">
            <span class="h-1 w-10/12 bg-blue-300 absolute"></span>
          </div>
        </div>
        <!-- Design 4 end -->
      </div>

      <!-- Language -->
      <div class="mt-8 md:mt-0">
        <div class="flex flex-row items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-blue-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 21l5.25-11.25L21 21m-9-3h7.5M3 5.621a48.474 48.474 0 016-.371m0 0c1.12 0 2.233.038 3.334.114M9 5.25V3m3.334 2.364C11.176 10.658 7.69 15.08 3 17.502m9.334-12.138c.896.061 1.785.147 2.666.257m-4.589 8.495a18.023 18.023 0 01-3.827-5.802" />
          </svg>
             
          <h3 class="text-2xl uppercase ml-2">LANGUAGES</h3>
        </div>

        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- LANGUAGE 1 start -->
        <div class="mt-4">
        <span class="text-gray-500">English</span>
        <div class="mt-2 flex justify-between">
          <span v-for="n in 10" :class="n > 8 ? 'bg-gray-300' : 'bg-blue-300'" class=" rounded-full w-4 h-4 block"></span>
        </div>
        </div>
        <!-- LANGUAGE 1 end -->
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- LANGUAGE 2 start -->
        <div class="mt-4">
          <span class="text-gray-500">French</span>
          <div class="mt-2 flex justify-between">
            <span v-for="n in 10" :class="n > 7 ? 'bg-gray-300' : 'bg-blue-300'" class=" rounded-full w-4 h-4 block"></span>
          </div>
        </div>
        <!-- LANGUAGE 2 end -->
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- LANGUAGE 3 start -->
        <div class="mt-4">
          <span class="text-gray-500">Spanish</span>
          <div class="mt-2 flex justify-between">
            <span v-for="n in 10" :class="n > 6 ? 'bg-gray-300' : 'bg-blue-300'" class=" rounded-full w-4 h-4 block"></span>
          </div>
        </div>
        <!-- LANGUAGE 3 end -->
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- LANGUAGE 4 start -->
        <div class="mt-4">
          <span class="text-gray-500">German</span>
          <div class="mt-2 flex justify-between">
            <span v-for="n in 10" :class="n > 5 ? 'bg-gray-300' : 'bg-blue-300'" class=" rounded-full w-4 h-4 block"></span>
          </div>
        </div>
        <!-- LANGUAGE 4 end -->
      </div>

    </div>

    <div class="mt-16 grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Programming -->
      <div class="pr-4">
        <div class="flex flex-row items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-blue-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3m-9 8.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6v12a2.25 2.25 0 002.25 2.25z" />
          </svg>
          
          <h3 class="text-2xl uppercase ml-2">Programming</h3>
        </div>
    
        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        
        <div class="grid grid-cols-2 w-4/5 mx-auto">
        <!-- Programming 1 start -->
        <div class="mt-4">
          <div class="bg-gray-100 radial-progress text-blue-300" style="--value:90;">
          <span class="font-semibold text-black">90%</span>
          </div>

        <span class="text-gray-500 block">Umbraco</span>
        </div>
        <!-- Programming 1 end -->
        <!-- Programming 2 start -->
        <div class="mt-4">
          <div class="bg-gray-100 radial-progress text-blue-300" style="--value:80;">
            <span class="font-semibold text-black">80%</span>
          </div>

          <span class="text-gray-500 block">VueJS SPA app</span>
        </div>
        <!-- Programming 2 end -->
        <!-- Programming 3 start -->
        <div class="mt-4">
          <div class="bg-gray-100 radial-progress text-blue-300" style="--value:85;">
            <span class="font-semibold text-black">85%</span>
          </div>

          <span class="text-gray-500 block">ios mobile app</span>
        </div>
        <!-- Programming 3 end -->
        <!-- Programming 4 start -->
        <div class="mt-4">
          <div class="bg-gray-100 radial-progress text-blue-300" style="--value:95;">
            <span class="font-semibold text-black">95%</span>
          </div>
          <span class="text-gray-500 block">Database Design</span>
        </div>
        <!-- Programming 4 end -->
      </div>

      </div>

      <!-- KNOWLEDGE -->
      <div class="mt-8 md:mt-0">
        <div class="flex flex-row items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-blue-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3" />
          </svg>
          
          <h3 class="text-2xl uppercase ml-2">KNOWLEDGE</h3>
        </div>

        <hr class="mt-4 mx-auto w-3/4 border-t border-gray-200 dark:border-gray-700"/>
        <!-- KNOWLEDGE 1 start -->
        <div class="mt-4">
        <div v-for="k in knowledges" class="mt-2 flex ">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 text-blue-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
          </svg>
          <span class="text-gray-500 ml-3 text-xl font-medium">{{ k }}</span>
          
        </div>
        </div>
        <!-- KNOWLEDGE 1 end -->

      </div>

    </div>

    </div>
    </div>